:host {
    background-color: #166292;
}

.button-project-list {
    background-color: #75A339;
    border:0;
    border-radius: 5px;
    color: white;
    padding: 5px;
    height: 28px;
    position: absolute;
    top: 11px;
    left: 15px;
}

auth {
    position: absolute;
    top: 11px;
    right: 15px;
}