:host {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.button-header {
    background-color: #186BA0;
    border-color: #186BA0;
    color: white;
    padding: 2px;
    border-radius: 3px;
    border-style: solid;
    height: 28px;
    position: absolute;
    top: 11px;
    left: 15px;
}