:host {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items:center;
}

.input-api-url {
  flex-basis: 50%;
  height: 28px;
  margin-right: 30px;
}

.button-resolve {
  background-color: #186BA0;
  border-color: #186BA0;
  color: white;
  padding: 2px;
  border-radius: 3px;
  border-style: solid;
  height: 28px;
}

.checkbox-dev-mode >>> .ui-chkbox-box.ui-widget{
  width: 80px;
  height: 28px;
  padding-top: 2px;
  border-top-width: 2px;
  padding-bottom: 2px;
  border-bottom-width: 2px;
  position: absolute;
  top: 11px;
  right: 15px;
}

.checkbox-dev-mode >>> .ui-chkbox-box.ui-widget::after {
  content: "Developer";
  padding: 8px;
}
