.section {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.res {
    padding-left: 50px;
    padding-right: 50px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.response-button {
    background-color: #75A339;
    border-color: #75A339;
    color: white;
    padding: 2px;
    border-radius: 3px;
    border-style: solid;
    height: 28px;
    width: 80px;
}

.tab-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.tab-button {
    position: relative;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    flex: 1;
    background-color: #186BA0;
    color: white;
}

.tab-button:hover {
    background-color: white;
    color: #75A339;
}

.tab-button-active {
    background-color: #75A339;
    color: white;
}

.tab-button-active:hover {
    background-color: #75A339;
    color: white;
}

.action-icon {
    position: absolute;
    right: 10px;
    left: initial;
    top: 10px;
    cursor: pointer;
}

.action-icon2 {
    position: absolute;
    right: 35px;
    left: initial;
    top: 10px;
    cursor: pointer;
}

.operation-type {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    width: 60px;
    height:100%;
    font-size: 0.7em;
    background-color: #75A339;
    border:0;
    border-radius: 3px 0 0 3px;
}

.post {
    background-color: #10a54a;
}

.put {
    background-color: #c5862b;
}

.get {
    background-color: #0f6ab4;
}

.delete {
    background-color: #a41e22;
}