:host {
    background-color: #166292;
    display:flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
}

.button-project-list {
    background-color: #75A339;
    border:0;
    border-radius: 5px;
    color: white;
    padding: 5px;
    height: 28px;    position: absolute;
    top: 11px;
    left: 15px;
    cursor:pointer;
}
