<div *ngIf="api">
    <div class="api-title">
        <p-overlayPanel #op (mouseenter)="descriptionHoverIn($event, infoTarget)"
                        (mouseleave)="descriptionHoverOut($event)">
            <div *ngIf="api.getDescription()!=null">Description: {{api.getDescription()}}</div>
        </p-overlayPanel>
        <i (mouseenter)="descriptionHoverIn($event, infoTarget)" (mouseleave)="descriptionHoverOut($event)"
           class="fa fa-info-circle"></i>
        <h4>{{api.getTitle()}}</h4>
    </div>
    <div #infoTarget class="info-ovperlay-target"></div>
    <panelMenu [droppable]="'addOperation'" (onDrop)="addOperation($event)" [model]="items" class="panel-menu-sidebar"></panelMenu>
</div>