.ui-panelmenu {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.ui-panelmenu-panel {
    width: 100%;
    margin:10px;
    overflow: hidden;
}

.panel-menu-sidebar .ui-panelmenu.ui-widget {
    margin: 5px;
}

.panel-menu-sidebar .ui-panelmenu-panel {
    margin-bottom: 5px;
}

.panel-menu-sidebar .ui-panelmenu-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tagOperation {
    position: relative;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.tagOperation.active, .tagOperation.active:hover{
    background-color:#75A339;
}

.tagOperation.active > *, .tagOperation.active:hover > *{
    color:white;
}

.action-icon {
    position: absolute;
    right: 10px;
    left: initial;
    top: 10px;
    cursor: pointer;
}

.tagOperation > a {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-align: center;
}

