:host {
    overflow:auto;
}

.panel-menu-sidebar >>> .ui-panelmenu.ui-widget {
    margin: 5px;
}

.panel-menu-sidebar >>> .ui-panelmenu-panel {
    margin-bottom: 5px;
}

.panel-menu-sidebar >>> .ui-panelmenu-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.active *, .active *:hover {
    background-color:#186BA0;
    color:white;
}