.error-container{
  position: relative;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}


.error {
  height: 28px;
  border-radius: 20px;
  background-color: #ff6b46;
  color: white;
  text-align: center;
  padding-left: 10px;
  line-height: 28px;
  padding-right: 10px;
  animation: ShowError 0.3s ease-out;
  width: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
}

@keyframes ShowError {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.my-animation {

}
