<div *ngIf="api">
    <div class="api-title">
        <p-overlayPanel #op (mouseenter)="descriptionHoverIn($event, infoTarget)"
                        (mouseleave)="descriptionHoverOut($event)">
            <div *ngIf="api.getDescription()!=null">Description: {{api.getDescription()}}</div>
        </p-overlayPanel>
        <i (mouseenter)="descriptionHoverIn($event, infoTarget)" (mouseleave)="descriptionHoverOut($event)"
           class="fa fa-info-circle"></i>
        <h4>{{api.getTitle()}}</h4>
    </div>
    <div #infoTarget class="info-overlay-target"></div>

    <div class="ui-panelmenu ui-widget panel-menu-sidebar">
        <div class="ui-panelmenu-panel tagGroup" *ngFor="let entityType of api.entityTypes">
            <div *ngIf="devMode || entityType.actions.length > 0">
                <div [ngClass]="{'ui-corner-all':!isActiveMenu(entityType.name),'ui-state-active ui-corner-top':isActiveMenu(entityType.name),'ui-state-hover':isHoverMenu(entityType.name)}"
                     (click)="onClickMenu(entityType.name)" (mouseenter)="hoveringMenu(entityType.name, true)" (mouseleave)="hoveringMenu(entityType.name, false)"
                     class="ui-widget ui-panelmenu-header ui-state-default">
                    <span>{{entityType.name}}</span>
                </div>
                <div [style.display]="isActiveMenu(entityType.name) ? 'block' : 'none'" class="ui-panelmenu-content ui-widget-content">
                    <div (click)="selectAction(action)" [ngClass]="{'active': isActionActive(action)}" class="tagOperation"
                         *ngFor="let action of entityType.actions">
                        <a>{{action.name}}</a>
                        <div *ngIf="devMode" class="action-icon fa fa-trash" (click)="$event.stopPropagation(); removeAction(entityType, action)"></div>
                    </div>
                    <div *ngIf="devMode" class="tagOperation">
                        <input #actionName (keydown.enter)="addAction(entityType, actionName.value); actionName.value = ''">
                        <div class="action-icon fa fa-check" (click)="addAction(entityType, actionName.value); actionName.value = ''"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>