<div *ngIf="activeOperation" class="tab-button-container">
    <div class="tab-button" [ngClass]="{'tab-button-active': operation == activeOperation}" *ngFor="let operation of getOperationsList()" (click)="selectOperation(operation)">
        <div class="operation-type" [ngClass]="operation.getType()">{{operation.getType()}}</div>
        {{operation.getSummary()}}
        <div class="action-icon2 fa fa-lock" *ngIf="authService.hasLocks(operation)" (click)="authService.openDialogForOperation(operation)"></div>
        <div class="action-icon fa fa-trash" *ngIf="devMode" (click)="$event.stopPropagation(); removeOperation(operation)"></div>
    </div>
</div>
<div *ngIf="activeOperation" class="section">
    <h2>Query</h2>
  <div class="res">
    <jsonforms class="jsf" *ngIf="dataschema" [schema]="dataschema" [uischema]="uischema" [data]="data"></jsonforms>
  </div>
    <div class="button-container">
        <button class="response-button" (click)="performOperation()">{{activeOperation.getType()}}</button>
    </div>
</div>
<div *ngIf="activeAction && !activeOperation">This action doesn't have any operations</div>